*{
       padding: 0;
       margin: 0;
}
.main{
    max-width: 100%;
    height: 98vh;
    display: flex;
    flex-direction: column;
    gap: 5px
}
.navbar{
    
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    gap: 5px;
}
.nlogo{
    flex: 1;
    display: flex;
}
.nlogs{
     margin-top: 4px;
    height: 40px;
    width: 35px;
}
.nlogname{
    padding-top: 5px;
    font-size: 20px;
    margin-top: 5px;
    height: 32px;
    width: auto;
}
.nlinks{
    gap: 10px;
    margin-left: 50px;
    display: flex;
     

}
.nlink1{
     margin-top: 4px;
    height: 32px;
}
.nlink2{
      margin-top: 4px;
    height: 32px;
}
.nbutton{
    flex-wrap: wrap;
    display: flex;
    gap: 5px;
}
.login{
    flex: 1;
    height: 32px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}


.signup{
    justify-content: center;
    align-items: center;
    height: 32px;
    display: flex;
    background: linear-gradient(rgb(214, 26, 214));
    border-radius: 4px;
}

.middle{
    flex: 1;
    margin: 2px;
    display: flex;
    background-image: url('../assets/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(to right, 
    rgba(0, 0, 0, 0.85)0%,
    rgba(0, 0, 0, 0.75)25%,
    rgba(0, 0, 0, 0.55)45%,
    rgba(0, 0, 0, 0.25)65%,
    rgba(0, 0, 0, 0.05) 85%
    ),
    url('../assets/back.png');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.middlem{
    flex: 1;
    margin: 2px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}
.ma{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 2px;

}
.ma1{
    flex: 1;
    display: flex;
}
.ma1a{
    margin-top: 10px;
    height: 35px;
    width: auto;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    align-content: center;
    justify-content: center;
    
}
.ma2{
    flex: 2;
    font-size: 38px;
}
.ma3{
    flex: 1;
    font-size: 14px;
    color: rgb(180, 179, 179);
}
.ma4{
    flex: 1;
    display: flex;
    gap: 5px;
}
.searchbar{
    margin-top: 2px;
    margin-left: 2px;
    width: 80%;
    height: 30px;
    background-color: white;
    border-radius: 4px;
    display: flex;
}
.sl{
    width: 8%;
}

.sln{
    width: 92%;
}
.sln input{
    outline: none;
    border: none;
    height: max-content;
    width: 95%;
    height: 80%;
}

.search{
     height: 33px;
     margin-top: 2px;
    margin-left: 2px;
    width: 15%;
    border-radius: 4px;
     
}
.search button{
    height: 100%;
    width: 100%;
    background-color: rgba(145, 10, 163, 0.808);
    color: white;
    border-radius: 4px;
}
.ma5{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 4px;
    font-size: 13px;
    color: rgb(209, 197, 197);
}
.actors{
    border-radius: 4px;
    border: none;
    outline: none;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.295);
    color: white;
}
.influencers{
    border-radius: 4px;
    border: none;
    outline: none;
    height: 40%; 
    background-color: rgba(0, 0, 0, 0.295);
    color: white;
}
.singers{
     border-radius: 4px;
    border: none;
    outline: none;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.295);
    color: white;
}
.comedians{
     border-radius: 4px;
    border: none;
    outline: none;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.295);
    color: white;
}
.mb{
    flex: 2;
}
img{
width: 100%;
height: 100%;
}
.ae1{
    color: white;
    font-weight: bold;
}
.ae2{
    color: rgb(25, 0, 255);
    font-weight: bold;
}
.ae3{
    color: rgb(208, 22, 233);
    font-weight: bold;
}