*{
       padding: 0;
       margin: 0;
}
.main{
    max-width: 100%;
    height: 98vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: sans-serif;
}
.navbar{
    
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    gap: 10px;
}
.nlogo{
    flex: 1;
    display: flex;
}
.nlogs{
     margin-top: 4px;
    height: 50px;
    width: 50px;
}
.nlogname{
    padding-top: 5px;
    font-size: 20px;
    margin-top: 10px;
    height: 32px;
    width: auto;
}
.nlinks{
    gap: 20px;
    margin-left: 50px;
    display: flex;
    margin-top: 3px;
     

}
.nlink1{
     margin-top: 4px;
    height: 32px;
}
.nlink2{
      margin-top: 4px;
    height: 32px;
}
.nbutton{
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
}
.login{
    flex: 1;
    height: 32px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgb(207, 202, 202);
    width: 60px;
    margin-top: 2px;
}
.login:hover{
    transition: 1s ease;
    transform: scale(1.1);
}


.signup{
    justify-content: center;
    align-items: center;
    height: 32px;
    display: flex;
    background: linear-gradient(to right , rgba(93, 0, 241, 0.733) , rgb(241, 5, 241) );
    border-radius: 4px;
    width: 70px;
     margin-top: 2px;
     border: none;
}

.signup:hover{
    transition: 1s ease;
    transform: scale(1.1);
}

.middle{
    flex: 1;
    margin: 2px;
    display: flex;
    background-image: url('../assets/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(to right, 
    rgba(0, 0, 0, 0.85)0%,
    rgba(0, 0, 0, 0.75)25%,
    rgba(0, 0, 0, 0.55)45%,
    rgba(0, 0, 0, 0.25)65%,
    rgba(0, 0, 0, 0.05) 85%
    ),
    url('../assets/back.png');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.middlem{
    flex: 1;
    margin: 2px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}
.ma{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 2px;

}
.ma1{
    flex: 1;
    display: flex;
}
.ma1a{
    margin-top: 10px;
    height: 35px;
    width: 300px;
    border-radius: 50px;
    background-color: rgba(247, 246, 246, 0.199);
    color: white;
    align-content: center;
    justify-content: center;
    font-size: 13px;
    
}
.stare{
    font-size: 15px;
    padding-left: 8px;
}
.ma2{
    flex: 2;
    font-size: 38px;
}
.ma3{
    flex: 1;
    font-size: 14px;
    color: rgb(180, 179, 179);
}
.ma4{
    flex: 1;
    display: flex;
    gap: 5px;
}
.searchbar{
    margin-top: 2px;
    margin-left: 2px;
    width: 80%;
    height: 30px;
    background-color: white;
    border-radius: 4px;
    display: flex;
}

.sl{
    width: 8%;
    margin-left: 2px;
}

.sln{
    width: 92%;
}
.sln input{
    outline: none;
    border: none;
    height: max-content;
    width: 95%;
    height: 100%;
}

.search{
     height: 30px;
     margin-top: 2px;
    margin-left: 2px;
    width: 15%;
    border-radius: 4px;
     
}
.search button{
    height: 100%;
    width: 100%;
     background: linear-gradient(to right , rgba(93, 0, 241, 0.733) , rgb(241, 5, 241) );
     border: none;
    color: white;
    border-radius: 4px;
    outline: none;
}
.search:hover{
    transition: 1s ease-in-out;
    transform: scale(1.1);
}

.ma5{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 4px;
    font-size: 13px;
    color: rgb(209, 197, 197);
}
.actors{
    border-radius: 4px;
    border: none;
    outline: none;
    height: 40%;
  background-color: rgba(247, 246, 246, 0.096);
    color: white;
    width: 60px;
}
.actors:hover{
    transition: 0.5s ease-in;
    transform: scale(1.0);
    background-color: rgba(255, 255, 255, 0.295);
}
.influencers{
    border-radius: 4px;
    border: none;
    outline: none;
    height: 40%; 
  background-color: rgba(247, 246, 246, 0.096);
    color: white;
    width: 80px;
}
.influencers:hover{
    transition: 0.5s ease-in;
    transform: scale(1.0);
    background-color: rgba(255, 255, 255, 0.295);
}
.singers{
     border-radius: 4px;
    border: none;
    outline: none;
    height: 40%;
      background-color: rgba(247, 246, 246, 0.096);
    color: white;
    width: 60px;
}
.singers:hover{
    transition: 0.5s ease-in;
    transform: scale(1.0);
    background-color: rgba(255, 255, 255, 0.295);
}
.comedians{
     border-radius: 4px;
    border: none;
    outline: none;
    height: 40%;
    background-color: rgba(247, 246, 246, 0.096);
    color: white;
    width: 80px;
}
.comedians:hover{
    transition: 0.5s ease-in;
    transform: scale(1.0);
    background-color: rgba(255, 255, 255, 0.295);
}
.mb{
    flex: 2;
}
img{
width: 100%;
height: 100%;
}
.ae1{
    color: white;
    font-weight: bold;
}
.ae2{
    color: rgb(25, 0, 255);
    font-weight: bold;
}
.ae3{
    color: rgb(208, 22, 233);
    font-weight: bold;
}

.login a{
    text-decoration: none;
    color: black;
}
.signup a{
    text-decoration: none;
    color: white;
}
.login img{
    position: relative;
    height: 50%;
    width: 25%;
}
